openapi: 3.1.0

info:
  title: MilliHash API
  version: v1.0.0
  description: |
    Product MilliHash REST API — all product-owned controllers documented per
    `cross-cutting/api-contracts` (includes operator admin; excludes Actuator/springdoc).

    MilliHash runs as **two deployments** against the same database:

    - **Free instance** — directly reachable at `api.millihash.com`. Serves unauthenticated
      public verification routes. RapidAPI-authenticated routes
      (`POST/GET /registrations`, certificate download) are disabled.
    - **Pro instance** — reachable only through the RapidAPI proxy (IP whitelist). Serves
      RapidAPI-authenticated registration and owner-portfolio routes.
      Public verification routes are not exposed on this deployment.

    **Authenticated endpoints** require `X-RapidAPI-Key` (pro instance / RapidAPI ingress only).

    **Public verification endpoints** require no authentication (free instance only).

    **Operator admin** (`GET /admin/audit`) is documented below for completeness. It is served on
    `app.millihash.com` with Auth0 JWT — not via RapidAPI or the public `api.millihash.com` marketplace edge.
  x-logo:
    url: logo.png
    backgroundColor: "#FFFFFF"

servers:
  - url: https://api.millihash.com
    description: Free instance — direct public access
  - url: https://app.millihash.com
    description: Operator admin console (Auth0 JWT)

tags:
  - name: Registrations
    description: Asset hash registration (pro / RapidAPI only)
  - name: Project Lineage
    description: Project create and version append (pro / RapidAPI only)
  - name: Owner Portfolio
    description: Owner registry, projects, and certificate download (pro / RapidAPI only)
  - name: Public Verification
    description: Asset, certificate, and anchor verification (free instance only)
  - name: Admin Audit
    description: Operator audit search (Auth0 JWT on app host — not RapidAPI)

paths:
  /registrations:
    get:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/paths/~1registrations/get'
    post:
      $ref: 'openapi/registrations.openapi.yaml#/paths/~1registrations/post'
  /certificates/{certificateId}:
    $ref: 'openapi/owner-portfolio.openapi.yaml#/paths/~1certificates~1{certificateId}'
  /certificates/{certificateId}/anchored:
    $ref: 'openapi/owner-portfolio.openapi.yaml#/paths/~1certificates~1{certificateId}~1anchored'
  /projects:
    get:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/paths/~1projects/get'
    post:
      $ref: 'openapi/project-lineage.openapi.yaml#/paths/~1projects/post'
  /projects/{projectId}:
    get:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/paths/~1projects~1{projectId}/get'
  /projects/{projectId}/versions:
    post:
      $ref: 'openapi/project-lineage.openapi.yaml#/paths/~1projects~1{projectId}~1versions/post'
  /projects/{projectId}/chain/verify:
    get:
      $ref: 'openapi/public-verification.openapi.yaml#/paths/~1projects~1{projectId}~1chain~1verify/get'
  /verify:
    $ref: 'openapi/public-verification.openapi.yaml#/paths/~1verify'
  /certificates/{id}/verify:
    $ref: 'openapi/public-verification.openapi.yaml#/paths/~1certificates~1{id}~1verify'
  /anchors/{registrationId}:
    $ref: 'openapi/public-verification.openapi.yaml#/paths/~1anchors~1{registrationId}'
  /anchors/{registrationId}/ots:
    $ref: 'openapi/public-verification.openapi.yaml#/paths/~1anchors~1{registrationId}~1ots'
  /admin/audit:
    $ref: 'openapi/audit-operations.openapi.yaml#/paths/~1admin~1audit'

components:
  securitySchemes:
    RapidApiKey:
      $ref: 'openapi/common.openapi.yaml#/components/securitySchemes/RapidApiKey'
    Auth0Bearer:
      $ref: 'openapi/audit-operations.openapi.yaml#/components/securitySchemes/Auth0Bearer'
  schemas:
    ErrorEnvelope:
      $ref: 'openapi/common.openapi.yaml#/components/schemas/ErrorEnvelope'
    RegistrationCreatedResponse:
      $ref: 'openapi/registrations.openapi.yaml#/components/schemas/RegistrationCreatedResponse'
    DuplicateRegistrationResponse:
      $ref: 'openapi/registrations.openapi.yaml#/components/schemas/DuplicateRegistrationResponse'
    ProjectCreatedResponse:
      $ref: 'openapi/project-lineage.openapi.yaml#/components/schemas/ProjectCreatedResponse'
    VersionAppendedResponse:
      $ref: 'openapi/project-lineage.openapi.yaml#/components/schemas/VersionAppendedResponse'
    ProjectListPage:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/components/schemas/ProjectListPage'
    ProjectDetail:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/components/schemas/ProjectDetail'
    ChainVerificationOutcome:
      $ref: 'openapi/public-verification.openapi.yaml#/components/schemas/ChainVerificationOutcome'
    RegistryListingResponse:
      $ref: 'openapi/owner-portfolio.openapi.yaml#/components/schemas/RegistryListingResponse'
    AssetVerificationResponse:
      $ref: 'openapi/public-verification.openapi.yaml#/components/schemas/AssetVerificationResponse'
    CertificateVerificationResponse:
      $ref: 'openapi/public-verification.openapi.yaml#/components/schemas/CertificateVerificationResponse'
    AnchorStatusResponse:
      $ref: 'openapi/public-verification.openapi.yaml#/components/schemas/AnchorStatusResponse'
    VerificationNotFound:
      $ref: 'openapi/public-verification.openapi.yaml#/components/schemas/VerificationNotFound'
    AuditSearchResponse:
      $ref: 'openapi/audit-operations.openapi.yaml#/components/schemas/AuditSearchResponse'
