openapi: 3.1.0
info:
  title: MilliHash Owner Portfolio API
  version: 1.0.0
  description: |
    Owner registry listing, certificate download, and owner project list/detail.
    Authenticated RapidAPI ingress only. Error envelope from api-platform.
servers:
  - url: https://api.millihash.com
    description: Production API (RapidAPI authenticated ingress)
paths:
  /projects:
    get:
      operationId: listOwnerProjects
      summary: List projects owned by the authenticated user
      description: Owner-scoped project list. Default limit 50, ordered by createdAt descending.
      tags:
        - Owner Portfolio
      security:
        - RapidApiKey: []
      responses:
        '200':
          description: Project list page
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ProjectListPage'
        '401':
          description: Authentication required
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /projects/{projectId}:
    get:
      operationId: getOwnerProject
      summary: Get project detail with version timeline
      description: Owner-scoped project detail including ordered version summaries.
      tags:
        - Owner Portfolio
      security:
        - RapidApiKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project detail
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ProjectDetail'
        '401':
          description: Authentication required
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Not project owner
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Project not found
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /registrations:
    get:
      operationId: listOwnerRegistrations
      summary: List Registrations owned by the authenticated user
      description: |
        Owner-scoped, cursor-paginated registry dashboard. Fixed page size 50.
        Default sort: `tsaTimestamp` descending, `registrationId` ascending tie-break.
        Optional `sort`: `label` (default direction ascending), `bitcoinBlockConfirmationTime`
        (default direction descending), or `tsaTimestamp`.
        Optional `direction`: `asc` or `desc` (defaults per sort field).
        Tie-break is always `registrationId` ascending. Missing on-chain times follow MongoDB null ordering
        (first on asc, last on desc).
        Listing does not invoke per-row anchor lookup.
      tags:
        - Owner Portfolio
      security:
        - RapidApiKey: []
      parameters:
        - name: cursor
          in: query
          required: false
          description: Opaque signed pagination cursor from prior `nextPageCursor`. Omit for first page.
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: Primary sort field. Default `tsaTimestamp`.
          schema:
            type: string
            enum: [tsaTimestamp, label, bitcoinBlockConfirmationTime]
            default: tsaTimestamp
        - name: direction
          in: query
          required: false
          description: |
            Sort direction. Defaults: `tsaTimestamp`/`bitcoinBlockConfirmationTime` → `desc`;
            `label` → `asc`.
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: Owner registry page
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/RegistryListingResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryListingResponse'
        '400':
          description: Invalid cursor or sort/direction
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Authentication required
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /certificates/{certificateId}:
    get:
      operationId: downloadCertificate
      summary: Download Certificate PDF
      description: |
        Renders the Certificate PDF on demand from the Registration projection. With a fixed renderer version,
        repeated downloads produce byte-identical PDFs. Owner must match stored OwnerKey.
        Response is raw PDF bytes (not JSON).
      tags:
        - Owner Portfolio
      security:
        - RapidApiKey: []
      parameters:
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Certificate PDF
          headers:
            Content-Disposition:
              schema:
                type: string
              description: Label-based filename when Registration has a label; certificateId fallback otherwise.
              examples:
                labelBased:
                  value: attachment; filename="millihash-my-asset.pdf"
                idFallback:
                  value: attachment; filename="millihash-certificate-6d0915e7-4f86-4f99-987e-57f8f83e8354.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Authentication required
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Authenticated user is not Registration owner
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Certificate / Registration not found
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /certificates/{certificateId}/anchored:
    get:
      operationId: downloadAnchoredCertificate
      summary: Download anchored Certificate PDF
      description: |
        Renders the Layer-1 + Bitcoin Anchor Certificate PDF on demand when AnchorJob is Confirmed.
        Returns 409 ANCHOR_NOT_CONFIRMED when Pending, Stamped, or Failed. Owner must match stored OwnerKey.
      tags:
        - Owner Portfolio
      security:
        - RapidApiKey: []
      parameters:
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Anchored Certificate PDF
          headers:
            Content-Disposition:
              schema:
                type: string
              examples:
                labelBased:
                  value: attachment; filename="millihash-anchored-my-asset.pdf"
                idFallback:
                  value: attachment; filename="millihash-anchored-certificate-6d0915e7-4f86-4f99-987e-57f8f83e8354.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Authentication required
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Authenticated user is not Registration owner
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Certificate / Registration not found
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: Anchor not Confirmed
          content:
            application/vnd.millihash.v1+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
components:
  securitySchemes:
    RapidApiKey:
      $ref: 'common.openapi.yaml#/components/securitySchemes/RapidApiKey'
  schemas:
    ErrorEnvelope:
      $ref: 'common.openapi.yaml#/components/schemas/ErrorEnvelope'
    OwnerKey:
      type: object
      required: [identityProvider, userId]
      properties:
        identityProvider:
          type: string
          example: rapidapi
        userId:
          type: string
          example: usr_alice
    RegistryListingResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/RegistryListingRow'
        nextPageCursor:
          type: string
          nullable: true
          description: Opaque cursor for next page; null when no further pages.
    RegistryListingRow:
      type: object
      required:
        - registrationId
        - ownerKey
        - label
        - hashTruncated
        - submissionMode
        - tsaTimestamp
        - tsaProvider
        - certificateUrl
        - anchorConfirmationUrl
        - anchorState
      properties:
        registrationId:
          type: string
          format: uuid
        ownerKey:
          $ref: '#/components/schemas/OwnerKey'
        label:
          type: string
          nullable: true
        hashTruncated:
          type: string
          description: First 8 + ellipsis + last 8 hex characters of SHA-256 hash
          example: d41d8cd9…098f00bc
        submissionMode:
          type: string
          enum: [server-computed, client-supplied]
        tsaTimestamp:
          type: string
          format: date-time
          description: UTC with millisecond precision
        tsaProvider:
          type: string
        certificateUrl:
          type: string
          example: /certificates/6d0915e7-4f86-4f99-987e-57f8f83e8354
        anchorConfirmationUrl:
          type: string
          format: uri
          example: https://app.millihash.com/anchor/6d0915e7-4f86-4f99-987e-57f8f83e8354
        anchorState:
          type: string
          enum: [Pending, Stamped, Confirmed, Failed]
        anchoredCertificateUrl:
          type: string
          description: Present only when anchorState is Confirmed
          example: /certificates/6d0915e7-4f86-4f99-987e-57f8f83e8354/anchored
        bitcoinBlockConfirmationTime:
          type: string
          format: date-time
          description: Informational Bitcoin corroboration when present; TSA timestamp remains authoritative
          example: 2026-02-01T00:00:00.000Z
        c2pa:
          $ref: '#/components/schemas/C2paListingMetadata'
    C2paListingMetadata:
      type: object
      required:
        - c2paClaimGenerator
        - c2paSigningTime
        - c2paSignerDisplayName
        - c2paSignerTrusted
        - c2paHasIngredients
        - trustNotice
      properties:
        c2paClaimGenerator:
          type: string
        c2paSigningTime:
          type: string
        c2paSignerDisplayName:
          type: string
        c2paSignerTrusted:
          type: boolean
        c2paDigitalSourceType:
          type: string
        c2paHasIngredients:
          type: boolean
        trustNotice:
          type: string
    ProjectListPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectSummary'
    ProjectSummary:
      type: object
      required:
        - projectId
        - headVersionNumber
        - headRegistrationId
        - headContentHash
        - versionCount
        - createdAt
      properties:
        projectId:
          type: string
          format: uuid
        label:
          type: string
          nullable: true
        headVersionNumber:
          type: integer
        headRegistrationId:
          type: string
          format: uuid
        headContentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
        versionCount:
          type: integer
        createdAt:
          type: string
          format: date-time
    ProjectDetail:
      type: object
      required: [project, versions]
      properties:
        project:
          $ref: '#/components/schemas/ProjectSummary'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/ProjectVersionSummary'
    ProjectVersionSummary:
      type: object
      required:
        - registrationId
        - certificateId
        - versionNumber
        - documentHash
        - contentHash
        - tsaTimestamp
      properties:
        registrationId:
          type: string
          format: uuid
        certificateId:
          type: string
          format: uuid
        versionNumber:
          type: integer
        documentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
        contentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
        prevContentHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
          nullable: true
        tsaTimestamp:
          type: string
          format: date-time
